#logo {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 1rem;
    height: 80px;
    width: 80px;
    cursor: pointer;
    
    @include transition-ease;
}
/* Added logo */
/* hi wise */